button {
    width: 50px;
    height: 50px;
    border: 0;
    background-size:cover;
}
html, body {
    height: 98%;
    margin: 0px;
    background-color: rgba(65, 65, 65, 0.87);
}
th{
    background-color: #bcbcbc;
    border-radius: 30%;
}

/*********************************/
/*           Tool Bar            */
/*********************************/

.toolbar{
    width: 80%;
    height: 8%;
    text-align: center;
    background: #cccccc;
    bottom: 2%;
    right: 10%;
    left: 10%;
    overflow: hidden;
    position: fixed;
    border-radius: 8%;
}
.btn {
    width: 64px;
    height: 64px;
    background: #757575;
    color: white;
    transition: background 0.5s;
    border-radius: 50%;
    box-shadow: none;
    border: 0;
}
.btn:focus {
    outline: none;
    box-shadow: none;
  }
.btn:hover {
    background: #dddddd;
    color: #FFFFFF;
}	
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    background: #757575;
    transition: background 0.55s;
}
#upload{
    visibility: hidden;
    width: "0%" ;
    height: "0%";
}

/*********************************/
/*             Slider            */
/*********************************/

.slider {
    -webkit-appearance: none;   /* Override default CSS styles */
    appearance: none;
    width: 100%;                /* Full-width */
    height: 25px;               /* Specified height */
    background: #ebebeb;      /* Grey background */
    outline: none;              /* Remove outline */
    opacity: 0.7;               /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s;    /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    height: 15px;
    border-radius: 5px;  
}
.slider:hover {
    opacity: 1;                 /* Fully shown on mouse-over */
}
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;   /* Override default look */
    appearance: none;
    width: 25px;                /* Set a specific slider handle width */
    height: 25px;               /* Slider handle height */
    background: #f1f518;      /* Green background */
    cursor: pointer;            /* Cursor on hover */
    height: 25px;
    border-radius: 50%; 
}
.slider::-moz-range-thumb {
    width: 25px;                /* Set a specific slider handle width */
    height: 25px;               /* Slider handle height */
    background: #f1f518;      /* Green background */
    cursor: pointer;            /* Cursor on hover */
    height: 25px;
    border-radius: 50%;
}
.slider-caption-left {
    width: 0%;
    font-size: 20px;
    /* margin-right: 100%; */
}
.slider-caption-right {
    font-size: 20px;
    /* margin-left: 80%; */
}

/*********************************/
/*             Canvas            */
/*********************************/
.main-canvas{
    width: 100%; 
    height: 100%;
    float: left;
    background-color: white;
}
/*********************************/
/*          Color Picker         */
/*********************************/
#color-block {
    right: 20%;
    background-color: white;
    width: 16.5%; 
    /* height: 50%; */
    /* border: solid 1px #ccc; */
    /* padding: 1%; */
    cursor: crosshair;
}
#color-strip {
    right: 2%;
    width: 3%;
    /* height: 50%; */
    cursor: vertical-text;
    float: right;
}

/*********************************/
/*         Tools & Labels        */
/*********************************/

.big-label {
    height: 50px; 
    font-size: 50px;
    color: whitesmoke;
}

.medium-label{
    height: 30px; 
    font-size: 30px;
    color: whitesmoke;
}

.small-label {
    font-size: 30px;
    color: mintcream;
}